<div
  class="max-w-sm bg-transparent border border-gray-200 hover:shadow-xl rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-white"
>

  <img class="rounded-t-lg w-full h-40 object-cover" [srcset]="card().url" [alt]="card().name" />
  <div class="p-5 flex flex-col w-full gap-1">
    <div class="w-full flex gap-2 justify-center items-center">
      <h5 class="mb-3 text-lg xl:text-2xl font-bold tracking-tight text-wrap dark:text-gray-900 text-white">
        Vote for
        <p class="mb-3 text-lg xl:text-2xl font-normal text-white dark:text-gray-400 text-wrap">{{ card().name }}</p>
      </h5>
    </div>
    <div class="grid px-12 items-end w-full">
      <button
        (click)="emitValue( card().id )"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent rounded-lg shadow shadow-white focus:ring-4 focus:outline-none focus:ring-blue-300 hover:text-blue-400 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:scale-110 duration-200 ease-out">
        Vote for this
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 duration-150" aria-hidden="true" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </button>
    </div>
  </div>
</div>
